---
interface Project {
    title: string;
    description: string;
    link?: string;
    github?: string;
    image: string;
    tags: string[];
}

import Code from "../icons/Code.astro";
import GitHub from "../icons/GitHub.astro";
import ProjectPill from "./ProyectPill.astro";

const PROJECTS: Project[] = [
    {
        title: "Proyecto 1 - WIP",
        description:
            "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus repudiandae provident adipisci voluptate aperiam, deleniti, ratione quae fugiat sunt esse asperiores cupiditate natus beatae. Ad perspiciatis id dolorum facilis atque!",
        image: "http://placekitten.com/g/500/300",
        tags: ["Angular 17", "TailwindCSS"],
    },
    {
        title: "Proyecto 2",
        description:
            "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus repudiandae provident adipisci voluptate aperiam, deleniti, ratione quae fugiat sunt esse asperiores cupiditate natus beatae. Ad perspiciatis id dolorum facilis atque!",
        link: "#",
        github: "#",
        image: "http://placekitten.com/g/500/300",
        tags: ["asd", "asddd"],
    },
];
---

{
    PROJECTS.map((project) => (
        <article class="flex flex-col gap-y-4 p-6 border border-gray-200 rounded-lg">
            <h3 class="text-lg font-bold text-[#DAFF3E]">{project.title}</h3>
            <p class="text-md ">{project.description}</p>
            <ul class="flex gap-x-2">
                {project.tags.map((tag) => (
                    <li class="text-sm">
                        <ProjectPill>{tag}</ProjectPill>
                    </li>
                ))}
            </ul>
            <img src={project.image} alt="" />
            <nav class="flex gap-x-2 justify-center flex-wrap gap-y-2">
                {project.github && (
                    <a
                        href={project.github}
                        class={`
                        inline-flex items-center justify-center 
                        rounded-lg                        
                        px-5 py-2.5
                        me-2 mb-2
                        text-center
                        font-medium text-sm 
                        text-gray-100 hover:text-white
                        bg-[#24292F] hover:bg-[#24292F]/90
                        focus:ring-4 focus:ring-[#24292F]/50
                        hover:scale-110 ease-linear duration-200
                        `}
                    >
                        <GitHub class="size-4 md:size-6 me-2" />
                        Visita su GitHub
                    </a>
                )}
                {project.link && (
                    <a
                        href={project.link}
                        class={`
                    inline-flex items-center justify-center
                    rounded-lg
                    px-5 py-2.5
                    me-2 mb-2
                    text-center 
                    text-sm font-medium
                    text-gray-500 hover:text-gray-900
                    bg-gray-50 hover:bg-gray-100
                    focus:ring-4 focus:ring-gray-100/50
                    hover:scale-110 ease-linear duration-200
                    `}
                    >
                        <Code class="size-4 md:size-6 me-2" />
                        Ve al sitio web
                    </a>
                )}
            </nav>
        </article>
    ))
}
